SYNAPSE_SERVER_NAME=SYNAPSE_SERVER_NAME
ADMIN_USER=ADMIN_USER
ADMIN_PASSWORD=ADMIN_PASSWORD

HOME_USER_NAME=HOME_USER_NAME
EMAIL=EMAIL

FRP_SERVER_IP=FRP_SERVER_IP
FRP_TOKEN=FRP_TOKEN

MATRIX_BOT_USERNAME=MATRIX_BOT_USERNAME
MATRIX_BOT_PASSWORD=MATRIX_BOT_PASSWORD
MONITORING_SECRET=MONITORING_SECRET

WEBNAMES_APIKEY=WEBNAMES_APIKEY

POSTGRES_DB_NEXTCLOUD=POSTGRES_DB_NEXTCLOUD
POSTGRES_DB_SYNAPSE=POSTGRES_DB_SYNAPSE
POSTGRES_DB_VAULTWARDEN=POSTGRES_DB_VAULTWARDEN
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD

SYNAPSE_REGISTRATION_SHARED_SECRET=SYNAPSE_REGISTRATION_SHARED_SECRET
SYNAPSE_MACAROON_SECRET_KEY=SYNAPSE_MACAROON_SECRET_KEY
SYNAPSE_FORM_SECRET=SYNAPSE_FORM_SECRET

SECRET_VAULTWARDEN_PASSWORD=SECRET_VAULTWARDEN_PASSWORD