.env
.venv
ansible/vars/secrets.yml
certbot
.vagrant
.vscode
gui-installer/frontend/node_modules/
gui-installer/npm-debug.log*
gui-installer/yarn-debug.log*
gui-installer/yarn-error.log*
gui-installer/frontend/dist/
gui-installer/frontend/wailsjs/
gui-installer/build/bin/
gui-installer/appimagetool
gui-installer/build/linux/