http:
  address: 127.0.0.1:8082
  session_ttl: 72h

dns:
  bind_hosts:
    - 10.8.0.1
  port: 53
  upstream_dns:
    - https://dns.cloudflare.com/dns-query
    - https://dns.google/dns-query

statistics:
  enabled: true
  interval: 24h
  ignored: []

querylog:
  enabled: true
  file_enabled: true
  interval: 24h
  size_memory: 1000
  ignored: []

users:
  - name: {{ admin_user }}
    password: "{{ admin_password | password_hash('bcrypt') }}"

schema_version: 27