global:
  resolve_timeout: 5m

route:
  group_by: ['alertname', 'cluster', 'service']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  receiver: 'telegram-notifications'

receivers:
  - name: 'telegram-notifications'
    telegram_configs:
      - bot_token: '{{ telegram_token }}'
        chat_id: {{ telegram_chat_id }}
        send_resolved: true
        parse_mode: 'HTML'
        message: |
          {% raw %}
          <b>[ServeHub-2 ALERT] {{ .Status | toUpper }}</b>

          <b>Уведомление от системы мониторинга ServeHub-2</b>
          <b>Статус:</b> {{ .Status | toUpper }}

          <b>Описание алертов:</b>
          {{ range .Alerts }}
          • <b>Алерт:</b> {{ .Labels.alertname }}
            <b>Сервер:</b> {{ .Labels.instance }}
            <b>Инфо:</b> {{ .Annotations.summary }} {{ .Annotations.description }}
          {{ end }}
          {% endraw %}