[vps]
vps-server ansible_host=YOUR_VPS_IP ansible_user=YOUR_USERNAME ansible_python_interpreter=/usr/bin/python3 ansible_password=YOUR_ROOT_PASSWORD

[local]
local-server ansible_host=YOUR_LOCAL_IP ansible_user=YOUR_USERNAME ansible_python_interpreter=/usr/bin/python3 ansible_password=YOUR_ROOT_PASSWORD

[localhost]
localhost ansible_connection=local